.poster-container img:hover {
  cursor: pointer;
}

.desactive {
  display: none;
}

/* .modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.014);
} */

/* .modal {
  padding: 2rem;
  transform: translateY(50%);
  display: flex;
  gap: 1rem;
  opacity: 1;
  position: fixed;
} */

.posterModal {
}

.button {
  width: 150px;
  padding: 0.75rem 1rem;
  background-color: var(--primary);
  color: var(--black);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button-hero:active {
  transform: scale(1.1);
}

.button-hero span {
  font-weight: 900;
  /* font-weight: bolder; */
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
